* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: whitesmoke solid 1px;
  overflow: hidden;
  box-sizing: border-box;
}
